# Copy to .env and fill in your ANDX credentials.
# To obtain required credentials please refer to STEP2 https://andx.ai/set-up-a-bot

# Account username.
ANDX_USER_NAME=

# Browser token (used to place orders).
ANDX_TOKEN=

# API key (used to read order status / balance).
ANDX_API_KEY=
ANDX_API_SECRET=
ANDX_PASSPHRASE=

